.application__header {
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-foreground);
    display: flex;
    flex-direction: column;
    padding: var(--spacer-7);

    a {
        position: relative;
        text-decoration: none;
        top: -2px;
    }

    div {
        align-items: center;
        display: flex;
    }

    nav {
        display: flex;
        flex: 1;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin-bottom: 0;
        margin-top: var(--spacer-7);
        padding: 0;

        li {
            margin: 0 var(--spacer-2) 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}
